## Data Types

In [ ]:
What is Data?

Collection of Information

For example:
    Roll No
    Phone No
    mutual friends on facebook
    followers on instagram
    image is a data
    whatsapp dp is data
    shopping list is a data
    items added in the cart on amazon is a data

In [ ]:
We need to store data.
We need data types for storing data in a Programming Language
Data Types helps us to store data efficiently.
Since there are different kinds of data, we need different kinds of data types.
One data could be stored better in one data type as compared to the other data type.

In [ ]:
Data Types in Python

1) int => Integers (-100,-10,0,3,56,79) immutable
2) float => Decimal Numbers (3.14,56.56,7.89,-56.78,0.09) immutable

Numbers (int and float)

3) str (String) "" (double quotes), '' (single quotes), """""" (triple quotes)
examples: "Pancake",'Mango',"""Magic""" immutable

4) list : collection of items, mutable(editable) [1,2,'Happy',5.6], [] , list()
    
5) tuple : collection of items, immutable(not editable) (34,45,56,'Happy',"cool")
    
6) dict (dictionary) {'Python':3,"java":8,'Week':1} {key:value}: keys have to unique and immutable.
    dict are mutable.
    
7) set {key1,key2,key3....} keys are unique and immutable.
    set are mutable.
    
8) bool True,False

9) None

In [63]:
y = '''Name=Mohit,
Class = 10F,
Subject= Maths,
Marks = 100
'''

print(type(y))

<class 'str'>

In [62]:
x = """ Name=Mohit,
Class = 10F,
Subject= Maths,
Marks = 100
"""

print(type(x))

<class 'str'>

In [56]:
x=""""hello" world"""
print(x)

"hello" world

In [60]:
p='python'
a = "'name','bharat','school'"
print(type(a))

<class 'tuple'>

In [59]:
name = ("praveen")
print(type(name))

<class 'str'>

In [1]:
a = 45

print(type(a))

<class 'int'>

In [2]:
b = 5.45

print(type(b))

<class 'float'>

In [6]:
c = "The quick brown fox jumps over a lazy dog"
d = 'happy'

In [5]:
print(type(c))

<class 'str'>

In [7]:
print(type(d))

<class 'str'>

In [ ]:
"I'm Happy"

In [10]:
c = "'happy', 'sad', 'angry'"

In [11]:
c

"'happy', 'sad', 'angry'"

In [12]:
print(type(c))

<class 'str'>

In [14]:
c = """The quick brown fox jumps over a lazy dog"""
print(type(c))

<class 'str'>

In [17]:
c="Hello World"
c = 45
print(c)
print(type(c))

45
<class 'int'>

In [20]:
x = """Hello 'World'"""

In [21]:
print(x)

Hello 'World'

In [22]:
x = "hello world"
x = 45
x = 'mango'

print(type(x))

<class 'str'>

In [23]:
x

'mango'

In [26]:
demoList = ['Happy Home',4.5,56,True,False,(4,5,6),{"python":3,"java":8},{45,56}]

In [27]:
for item in demoList:
    print(type(item))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [28]:
anoteherList = [45,56,'python']

In [29]:
xList = []

In [30]:
print(type(xList))

<class 'list'>

In [31]:
y = list()

In [32]:
print(type(y))

<class 'list'>

In [33]:
dict1 = {'python':3,'java':8,'python':5}

In [34]:
print(dict1)

{'python': 5, 'java': 8}

In [35]:
data = {'cricket':['Sachin','Virat','Dhoni'],'football':['Ronaldo','Messi','Sunil Chettri']}

In [38]:
data['cricket'] = ['Rohit','Virat','Dhoni']

print(data)

{'cricket': ['Rohit', 'Virat', 'Dhoni'], 'football': ['Ronaldo', 'Messi', 'Sunil Chettri']}

In [40]:
data2 = {'python':3,'java':8}
data2['python'] = 4
print(data2)

data3 = {3:'python',8:'java'}
print(data3[8])

{'python': 4, 'java': 8}
java

In [45]:
students = {1:{'Name':'Rohit Chugwani','Gender':'Male','Subject':'Python','hasPassed':None},
            2:{'Name':'Chaithra Shree','Gender':'Female','Subject':'Machine Learning','hasPassed':None}}

# keys as the rollno and corresponding data about the student as the value
print(students[2]['Name'])
print(students[1]['Name'])

Chaithra Shree
Rohit Chugwani

In [37]:
data['football']

['Ronaldo', 'Messi', 'Sunil Chettri']

## Indexing

In [ ]:
str,list,tuple

name[any possible index value]

In [46]:
a = (1,2)
a = (3,2)

print(a)

(3, 2)

In [47]:
a = "hello world"
a = 56
print(a)

56

In [48]:
fruits = ['kiwi','apple','mango','banana']

print(fruits[0])

kiwi

In [49]:
print(fruits[3])

banana

In [50]:
fruit = 'banana'

In [51]:
fruit[3]

'a'

In [52]:
fruit[0]

'b'

In [53]:
tuple_of_fruits = ('mango','pineapple','palms','grapes')

print(tuple_of_fruits[3])

grapes

In [54]:
x = None

print(type(x))

<class 'NoneType'>